<div *ngIf="post$ | async as post; else loading">

  <div class="post">
      <div class="header">
          <h1>{{ post.title }}</h1>
          <button routerLink="/" class="btn btn-link">Home</button>
      </div>
      <div class="info">
          <p>Author: <strong>{{ post.author}}</strong></p>
        <br>
          <small>{{ post.date | date: "dd.MM.yyyy  hh:mm"}}</small>
      </div>

      <quill-view-html [content]="post.text" ></quill-view-html>

  </div>
</div>

<ng-template #loading>
  <p>Loading post...</p>
</ng-template>
